@font-face {
	font-family: ubuntu_bold;
	src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
	font-family: ubuntu;
	src: url(../fonts/Ubuntu-Regular.ttf);
}

body {
    font-family: ubuntu;
}

div.background {
    background: url(../img/zubr_bg.png) left top no-repeat transparent;
}

/* Kolory */

.blue {
    color: #305999;
}

.grey1{
    color: #4a4c4b;
}

.red {
    color: #d63b25;
}

.back-grey {
    background-color: #f4f4f4;
}

.back-navy {
    background-color: #1f2c3f;
}



/* Menu */

div a.menu {
    font-variant: small-caps; 
    font-size: 20px;
    font-weight: bold;
}

div a.menu:hover {
    color: #305999;
    text-decoration: none;
    color: 424846;
}

div a.bread{
    color: #020f82;
    font-size: 18px;
}

div a.footer_mail {
    color: #FFF;
}

div.breadcrumbs{
    padding: 25px 0px 25px 0px;
    font-size: 18px;

}

div.button_blue_przed {
    display: none;
}

div.button_blue {
    
    font-size: 27px;
    background-color: #305999;
    color: #fff;
    padding: 40px;
    text-align: left;
    margin-top: 40px;
}

div.button_blue_small {
    font-size: 40px;
    background-color: #305999;
    color: #fff;
    height: 40%;
    padding: 40px;
    margin-top: 8%;
    
}

/* Odstepy */

.spacing_top_big {    
    padding-top: 70px;
}

.spacing_top_medium {
    padding-top: 32px;
}

.spacing_top_small {
    padding-top: 22px;
}



.spacing_bottom_big {    
    padding-bottom: 70px;
}

.spacing_bottom_medium {
    padding-bottom: 32px;
}

.spacing_bottom_small {
    padding-bottom: 22px;
}

.spacing_bottom_clock {
    padding-bottom: 15px;
}

/* Naglowki */

h1 {
    font-family: ubuntu_bold;
    font-size: 45px;  
    padding-bottom: 30px;
}


h2 {
  
    font-family: ubuntu_bold;
    font-size: 24px; 
    padding-bottom: 15px;
}

h2.arial {
    font-family: Arial;
    font-size: 24px;
}

/* Divy */

div.clock {
    font-size: 80px;
    line-height: 2;
}

div.clock_label {
    font-size: 24px;
    font-family: Arial;
    position: relative;
    color: #210502;
    top: -30px;
}

/* Stopka */

div.my_footer {
    padding: 102px 20px 152px 20px;
    color: #fff;
}

div.stopka1{
    text-align: right;
}

div.stopka2{
    text-align: center;
}

div.stopka3{
    text-align: left;
}

/* Responsive */


@media screen and (max-width: 600px) {

div.background {
    background: none;
}    
    
    h1 { font-size: 22px; }
    h2 { font-size: 16px;}
 
    h2.arial {
        font-family: Arial;
        font-size: 16px;
    }
    
    div.stopka1{
        text-align: center;
        padding-bottom: 20px;
    }

    div.stopka2{
        text-align: center;
        padding-bottom: 20px;
    }

    div.stopka3{
        text-align: center;
        padding-bottom: 20px;
    }
    

    div a.menu {
        font-variant: small-caps; 
        font-size: 20px;
        font-weight: bold;
    }

    div a.menu:hover {
        color: #305999;
        text-decoration: none;
        color: 424846;
    }

    .spacing_top_big {    
        padding-top: 30px;
    }

    .spacing_top_medium {
        padding-top: 12px;
    }

    .spacing_top_small {
        padding-top: 7px;
    }



    .spacing_bottom_big {    
        padding-bottom: 30px;
    }

    .spacing_bottom_medium {
        padding-bottom: 12px;
    }

    .spacing_bottom_small {
        padding-bottom: 7px;
    }

    .spacing_bottom_clock {
        padding-bottom: 15px;
    }    
    
    
    div.button_blue_przed {
        display: block;
        font-size: 20px;
        background-color: #305999;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin-top: 40px;
    }
    
    div.button_blue {
        display: none;
        font-size: 14px;
        background-color: #305999;
        color: #fff;
        padding: 20px;
        text-align: center; 
        margin-top: 40px;
    }

    div.button_blue_small {
        font-size: 24px;
        background-color: #305999;
        color: #fff;
        min-height: 60px;
        padding: 20px;
        margin-top: 8%;

    }   
    
    
    
    
    
    
}

